.header{
    width: 100%;
    display: flex;
    
    align-items: center;
    height: 130px;
    background-color: #567086;
    color: white;
    position: relative;
    box-shadow: rgb(255 255 255 / 10%) 0 1px 1px 1px;
}
.left-side{
    padding-left: 50px;
    font-size: 20px;
    width: 20%;
}

.left-side h1{

    font-size: 25px;
    width: 100%;
   
}

.right-side{
    display: flex;

    padding-left: 100px;
}

.link-tab{
    width: 150px;
    height: 130px;
   
   
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.link-tab:hover{
    color: white;
    background-color: #f5a623;


}



.link-deco{
    text-decoration: none;
    color: white;
    text-align: center;
}

.logobtn{
    padding-left: 30px;
    /* position: absolute; */
    right: 5%;
    font-size: 18px;
    bottom: 0%;
}

.right-side2{
    display: none;
}


@media only screen and (max-width:1000px){
   .header{
    flex-direction: column;
    height: auto;
    margin-bottom: 100px;
    justify-content: left;
    /* position: relative; */

   }

   .left-side{
   
    width: 100%;
    margin: 20px auto;

    padding-left: 10%;
    font-size: 7px;

   }

   .right-side{
    width: 100%;
    padding-left: 10%;
    margin-bottom: 2%;
  
    
   }


   .link-tab{
    width: 18%;
    height: 15%;
    font-size: 10px;
    padding: 2px;
   
}
.link-tab i{
    display: none;
}



.logobtn{
   font-size: 18px;
  padding-left: 70%;
  position: absolute;
  top:20%;
  right: 5%;

}


  
    
}